@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lustria&family=Noto+Sans:wght@400;500;600&display=swap');

@import "tailwindcss";



:root {
  --primary-color: rgb(253, 52 ,2);
  --primary-light: #FFD4BD;
  --secondary-color: rgb(21, 43 , 30);
  --secondary-dark: rgb(21, 43 , 30);
  --green-dark: rgb(16 , 34 , 23);
  --green-light: rgb(25 ,51 , 36);
  --secondary-light: rgb(43, 238 , 121);
  --secondary-light2: rgba(31, 193, 107, 0.100);
  --paragraph-color: rgb(96 , 96 ,96);
  --third-color: rgb(232 , 232 , 232);
  --third-light: rgb(248 , 252 , 250);
  --dark-text: rgb(51 , 51 , 51);
  --light-text: rgb(210 , 210 , 210);
  --light-text2: rgb(187 , 187 , 187);
  --light-text3: rgb(203 , 215 , 225);
  --light-text4: rgb(142, 142 , 142);
  --light-text5: rgb(197 , 197 , 197);

  --font-lustria: 'Lustria';
  --font-notosans: 'Noto Sans';
  --font-inter: 'Inter', sans-serif;

  /* roadmap */

    --color-blue-dark: #3b82f6;
  --color-blue-light: #60a5fa;
  --color-yellow-dark: #d97706;
  --color-yellow-light: #fbbf24;
  --color-green-dark: #059669;
  --color-green-light: #34d399;
  --color-red-dark: #dc2626;
  --color-red-light: #f87171;
  --color-purple-dark: #7c3aed;
  --color-purple-light: #a78bfa;
  --line-gray: #9ca3af;
  --text-dark: #1f2937;
}

body {
  font-family: 'Inter';
  overflow-x: hidden;
  padding-right: 0 !important;
}

html {
  overflow-x: hidden;
}

.heading-8{
  font-size: 19px !important;
  line-height: 28px;
}
.heading-7{
  font-size: 22px;
  line-height: 33px;
}
.heading-6{
  font-size: 25px;
  line-height: 39px;
}
.heading-5{
  font-size: 32px;
  line-height: 48px;
}
.heading-4{
  font-size: 38px;
  line-height: 57px;
}
.heading-3{
  font-size: 46px !important;
  line-height: 69px !important;
}
.heading-2{
  font-size: 56px;
  line-height: 78px;
}
.heading-1{
  font-size: 68px;
  line-height: 102px;
}
.B-5{
  font-size: 10px;
}
.B-4{
  font-size: 12px;
}
.B-3{
  font-size: 14px;
  line-height: 20px;
}
.B-2{
  font-size: 16px;
}
.B-1{
  font-size: 18px;
  line-height: 27px;
}

.font-lustria{
  font-family: var(--font-lustria);
}
.font-inter{
  font-family: var(--font-inter);
}
.font-notosans{
  font-family: var(--font-notosans);
}

.primary-text{
  color:  var(--primary-color);
}

.button{
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 11px 22px !important;
  box-shadow: 0 0 12px 5px #FFD4BD !important;
  font-family: var(--font-notosans);
}

.home-page{
 padding-top: 82px;
  background-color: var(--third-color);
  
}

.navbar{
    background-color: var(--third-color);
  
}

@media (max-width:900px) {
  
.heading-8{
  font-size: 19px !important;
  line-height: 28px;
}
.heading-7{
  font-size: 22px;
  line-height: 33px;
}
.heading-6{
   font-size: 19px !important;
  line-height: 28px !important;
}
.heading-5{
  font-size: 32px;
  line-height: 48px;
}
.heading-4{
  font-size: 38px;
}
.heading-3{
 font-size: 32px !important;
  line-height: 48px !important;
}
.heading-2{
   font-size: 38px !important;
  line-height: 57px !important;
}
.B-5{
  font-size: 10px;
}
.B-4{
  font-size: 12px;
}
.B-3{
  font-size: 14px;
  line-height: 20px;
}
.B-2{
  font-size: 16px;
}
.B-1{
 font-size: 14px !important;
  line-height: 20px !important;
}
}

@media (max-width:600px) {
  
.heading-8{
  font-size: 19px !important;
  line-height: 28px;
}
.heading-7{
  font-size: 22px;
  line-height: 33px;
}
.heading-6{
   font-size: 19px !important;
  line-height: 28px !important;
}
.heading-5{
  font-size: 22px;
  line-height: 33px;
}
.heading-4{
  font-size: 38px;
}
.heading-3{
 font-size: 32px !important;
  line-height: 48px !important;
}
.heading-2{
 font-size: 32px !important;
  line-height: 48px !important;
}
.B-5{
  font-size: 10px;
}
.B-4{
  font-size: 12px;
}
.B-3{
  font-size: 14px;
  line-height: 20px;
}
.B-2{
  font-size: 16px;
}
.B-1{
 font-size: 14px !important;
  line-height: 20px !important;
}
}
/* navbar css */
.nav-links{
  background-color: var(--third-color);
  border-radius: 35px;
  color: var(--paragraph-color);
  font-family: var(--font-lustria);
   box-shadow: 
 -6px -6px 12px 0px #ffffffc8,
6px 6px 12px 0px #bebebe80;
}

.who-we-btn{
  background-color: var(--third-light);
  box-shadow: 5px 5px 10px 1px #ECE7DB;
  
}
.company_submenu{
  background-color: var(--third-color);
  border-radius: 20px;
  box-shadow:
  0px 3px 3px rgba(0, 0, 0, 0.15),
  0px 1px 8px rgba(0, 0, 0, 0.12);
}

.company_submenu .link,  .company_submenu_mob .link {
  border-radius: 10px;
}

.company_submenu .link:hover , .company_submenu_mob .link:hover{
   box-shadow:
    -6px -6px 12px 0px rgba(255, 255, 255, 0.8),
     6px  6px 12px 0px rgba(190, 190, 190, 0.4);
}

.company_submenu p {
  color: var(--dark-text);
}

.company_submenu .h-6 , .company_submenu_mob .B-2{
  font-family: var(--font-lustria);
}

.company_submenu .B-3 , .company_submenu_mob .B-4{
  font-family: var(--font-inter);
}

@media (max-width:700px) {
  .button{
  padding: 6px 18px !important;
}
}

.mobile-navbar{
  background-color: var(--third-color);
}

/* Future ready section{ */

.future-ready , .technology-section{
  background-color: var(--secondary-color);
}
.futute_ready_btn{
  color: var(--secondary-light);
  box-shadow: 
  5px 5px 10px 0 #0B1710,
  -5px -5px 10px 0 #152D1E;
  border: 1px solid #264f36;
}

.future-ready .heading-3{
font-family: var(--font-lustria);
}

.future-ready .green , .technology-section .green  , .journey-inner .green , .service-page .green{
  background: linear-gradient(
    88deg,
    rgba(43, 238, 121, 1) 0%,
    rgba(45, 212, 191, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: rgba(43, 238, 121, 1);
}

.future-ready .B-1 , .technology-section .B-1 , .service-page .light-text{
  font-family: var(--font-notosans);
  color: var(--light-text);
}
.service_card{
  box-shadow: 10px 10px 20px 0 #0B1710,
  -10px -10px 20px 0 #162F22;
  background: #112419;
background: linear-gradient(88deg, rgba(17, 36, 25, 1) 0%, rgba(21, 43, 30, 1) 100%);
}

.service-end-card{
  border: 3px solid var(--secondary-light);
   background: #112419;
background: linear-gradient(88deg, rgba(17, 36, 25, 1) 0%, rgba(21, 43, 30, 1) 100%);
}
.service_card .heading-7{
  font-family: var(--font-lustria);
}
.service_card .B-3{
 color: var(--light-text);
}
.service_card .B-1{
 font-family: var(--font-notosans);
}
.service_card .learn-more{
  color: var(--light-text2);
}
.service_card .learn-more .arrow{
  box-shadow: 
  5px 5px 10px 0 #0C1A12,
  -5px -5px 10px 0 #183224;
  ;
  background: #152B1E;
background: linear-gradient(88deg, rgba(21, 43, 30, 1) 0%, rgba(17, 36, 25, 1) 100%);
}
.card_no{
  color: var(--secondary-light2);
  font-family: var(--font-lustria);
}
.card_icon{
  background: RGB(16 , 34, 23);
background: linear-gradient(88deg, rgba(16, 34, 23, 1) 0%, rgba(21, 43, 30, 1) 100%);
border-radius: 16px;
box-shadow: 
inset 5px 5px 10px 1px #0B1710,
inset -5px -5px 10px 1px #162F22;
}

.service-end-card .heading-7{
  font-style: var(--font-lustria);
}

.service-end-card button{
  background-color: var(--secondary-light);
  box-shadow: 0 0 15px 0 #2bee7930;
  font-family: var(--font-notosans);
}
.service-end-card img{
  background-color: rgb(31, 63, 45);
}

/* number_section */
.number_section .heading-3{
  font-family: var(--font-lustria);
} 

.number_section{
  background: url("/assets/Counter_bg.gif");
}

/* industries section */

.industries-section{
  background-color: var(--third-color);
}
.industry_btn{
 color: var(--light-text3) ;
 background: #0E111B;
background: linear-gradient(128deg, rgba(14, 17, 27, 1) 0%, rgba(30, 37, 59, 1) 100%);
}
.industries-section .heading-3 , .agile-section .heading-3{
   color: var(--dark-text);
   font-family: var(--font-lustria);
}
.industries-section .red  , .agile-section .red{
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.industries-section .B-1 , .agile-section .B-1{
color: var(--paragraph-color);

}

.industry-card{
  box-shadow: 
  inset 1px 1px 2px 0 #FFFFFF,
     -6px -6px 12px 0 #FFFFFF,
     6px 6px 12px 0 #B5B5B5;
    border-radius: 16px;
}

.industry-card  > .B-3{
  color: var(--paragraph-color);
  width: fit-content;
  border-bottom: 1px solid white;
 
}
.industry-card .read-more{
  color: var(--primary-color);
}
.start-project-section{
  background-color: var(--third-color);
  box-shadow: 
  0 -6px 12px 0 rgba(181, 181, 181, 0.4),
  0 6px 12px 0 rgba(181, 181, 181, 0.4);
  border-radius: 16px;
  width: fit-content;
}

.start-project-section button{
  box-shadow: 
  0 0 20px 0 rgba(48, 94, 232, 0.4) !important;
}

.start-project-section .B-3 {
  color: var(--paragraph-color);
}

/* herosection */

.herosection{
  background-color: var(--light-text2);
  border-radius: 40px;
   box-shadow: 
 -6px -6px 12px 0px #ffffff8b,
6px 6px 12px 0px #bebebe41;

}
.herosection-inner{
  border-radius: 40px;
  height: 88vh;
}
.hero-slide-1{
   background-image: url("/assets/herosection1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-slide-2{
   background-image: url("/assets/herosection2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-teams{
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}
.hero-teams-2{
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.hero-teams-outer{
  align-items: end;
}
.hero-teams > p , .hero-teams-2 > p {
  color: var(--paragraph-color);
}

/* Pagination container */
.swiper-pagination {
  bottom: 10px !important;
}

/* Normal dot */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #bdbdbd; /* grey */
  opacity: 1;
  margin: 0 6px !important;
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #e10600; /* red */
  width: 12px;
  height: 12px;
}

.herosection-bottom{
  background-color: var(--secondary-color);
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  margin-right: 60px;
}

/* Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width:1100px) {
    .herosection-inner{
  border-radius: 40px;
  height: 100%;
}
.hero-teams{
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}
.hero-teams-2{
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}

}

@media (max-width:578px) {
 .hero-slide-1{
   background-image: url("/assets/mobile-hero-1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-slide-2{
   background-image: url("/assets/mobile-hero-2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}


/* who-we-are */

/* .who-we-are{
  
  background: url("/assets/2nd_section.svg");
}

.who-we-are {
  position: relative;
  background-attachment: fixed; 
  overflow: hidden;
} */


.who-we-are .main{
  background-color: var(--third-light);
  color: #0C1A12;
}

.who-we-are button{
  box-shadow: inset 5px 5px 10px 1 #ECE7DB,
  inset -5px -5px 10px 1 #FFFFFF;
}

.who-we-are .btn{
  background-color: white;
  box-shadow:  5px 5px 10px 0 #DBECE2,
   -5px -5px 10px 1 #FFFFFF;
   min-width: 174px;
}

.parallax-container {
  position: relative;
  background: #f5f6fa;
}

.parallax-pin-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.who-we-are .image-wrapper {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-section {
  width: 50%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background: #f5f6fa;
  transform: translateX(100%);
  opacity: 0;
}

.content-wrapper {
  /* max-width: 520px; */
  width: auto;
}


/* Mobile */
@media (max-width: 992px) {
  .parallax-pin-wrapper {
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .who-we-are .image-wrapper {
    height: 45vh;
    width: 100%;
  }

  .content-section {
    width: 100%;
    height: auto;
    transform: none;
    opacity: 1;
  }

  /* .scroll-filler {
    height: 100vh;
  } */
}
.heading-who-we{
font-size: 56px;
  line-height: 78px;
}


@media (max-width: 1345px) {
   .heading-who-we{
  font-size: 46px;
  line-height: 66px;
}
}
@media (max-width: 1170px) {
   .heading-who-we{
  font-size: 36px;
  line-height: 53px;
}
}
@media (max-width: 768px) {
   .heading-who-we{
  font-size: 33px;
  line-height: 49px;
}
}
@media (max-width: 576px) {
   .heading-who-we{
  font-size: 28px;
  line-height: 44px;
}
}

/* why choose us  */

.why-choose-us{
  background-color: var(--third-light);
}
.why-choose-us .B-1{
  color: var(--paragraph-color);
}
.why-choose-us .card{
  border-radius: 48px;
    box-shadow: 
  8px 8px 16px 0 #DBECE2,
  -8px -8px  16px 0 #FFFFFF;
}
.why-choose-us .card-1{
  background-color: rgb(255 , 92 ,2 , 0.1);
}
.why-choose-us .card-2{
  background-color: rgb(31 , 193 ,107 , 0.1);
}
.why-choose-us .icon{
   box-shadow: 
  5px 5px 10px 0 #DBECE2,
  -5px -5px  10px 0 #FFFFFF;
}
.why-choose-us .card .B-3{
  color: var(--paragraph-color);
}
.why-choose-us .card-3{
    box-shadow: 
 inset 5px 5px 10px 0 #DBECE2,
 inset -5px -5px  10px 0 #FFFFFF;
 background: RGB(240 , 253 , 244);
background: linear-gradient(128deg, rgba(240, 253, 244, 1) 0%, rgba(220, 252, 231, 1) 100%);
height: 77%;
}

.why-choose-us .card-3 .btn{
  box-shadow: 0px 10 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
right: 8%;
bottom: 8%;
color: #0C1A12;
} 

@media (max-width: 700px) {
  .why-choose-us .card-1{
  background-color: rgb(255, 255, 255);
}
.why-choose-us .card-2{
  background-color: rgb(255, 255, 255);
}
.why-choose-us .card-3{
height: 100%;
}
/* .content-section {
 
  height: 100%;
  padding: 1rem;
  padding-top:  55px;
}
.content-wrapper{
  width:100% ;
} */

}
.image-wrapper-mobile{
    box-shadow: 8px 8px 16px 0 #DBECE2,
  -8px -8px 16px 0 #FFFFFF;
  border-radius: 60px;
  margin-bottom: 15px;

    
  display: flex;
  justify-self: center;
  justify-content: center;
}

.image-wrapper-mobile-inner {
  position: relative;
  border-radius: 48px;
  overflow: hidden;
}

.image-wrapper-mobile-inner::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 48px;
  pointer-events: none;
box-shadow: inset 5px 5px 10px 0 #DBECE2, 
inset -5px -5px 10px 0 #FFFFFF;
}


.mobile-hero-image {
  width: 100%;
  display: block;
  border-radius: 48px;
}

/* technology section */

.technology-section .futute_ready_btn-active {
 border: 3px solid var(--secondary-light) !important;
 color: var(--secondary-light);
   box-shadow: 
  5px 5px 10px 0 #0B1710,
  -5px -5px 10px 0 #152D1E;
}


 .circle-wrapper {
  height: 112vh;
  overflow: hidden !important;
  margin: 0 auto;

  display: flex;  
  justify-content: center;  
  position: relative;  
}

.circle-1 {
  width: 155vh;
  height: 150vh;
  background-color: var(--green-dark);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.middle-circle {
  width: 70%;  
  height: 70%;
  border-radius: 50%;
  background-color: var(--secondary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}


.inner-circle {
  width: 65%;  
  height: 65%;
  border-radius: 50%;
  background-color: var(--green-light);

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-4 {
  width: 35%;
  height: 35%;
  background-color: var(--green-dark);
  border-radius: 50%;
  box-shadow: inset 5px 5px 10px 1 #0B1710,
  inset -5px -5px 10px 1 #162F22,
  0px 0px 4px 7px #2BEE79;

}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;

/* animation: orbitMove 15s steps(5) infinite; */
    animation: orbitSmooth 15s infinite;
    
}


@keyframes orbitSmooth {
  0%   { transform: rotate(0deg); }
  14%  { transform: rotate(72deg); }
  20%  { transform: rotate(72deg); }

  34%  { transform: rotate(144deg); }
  40%  { transform: rotate(144deg); }

  54%  { transform: rotate(216deg); }
  60%  { transform: rotate(216deg); }

  74%  { transform: rotate(288deg); }
  80%  { transform: rotate(288deg); }

  94%  { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}


.orbit-item {
  background: var(--green-dark);
    width: 140px;
    height: 140px;
    transform: rotate(calc(var(--i) * 45deg)) translate(calc(-78% + -57vh)) rotate(calc(var(--i) * -44deg));
    transform-origin: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 40%;
    left: 46%;
     box-shadow: inset 5px 5px 10px 1 #0B1710,
  inset -5px -5px 10px 1 #162F22,
  0px 0px 4px 7px #2BEE79;
}

.orbit-item img{
    min-height: 80px;
   max-height: 80px;
}

@media screen and (max-width: 1024px) {
  .circle-1 {
    width: 60vmin;
    height: 60vmin;
  }
}
@media screen and (max-width: 768px) {
  .circle-1 {
    width: 50vmin;
    height: 50vmin;
  }
}
@media screen and (max-width: 1024px) {
  .middle-circle { width: 75%; height: 75%; }
  .inner-circle { width: 70%; height: 70%; }
  .circle-4 { width: 40%; height: 40%; }
}

@media screen and (max-width: 768px) {
  .middle-circle { width: 80%; height: 80%; }
  .inner-circle { width: 75%; height: 75%; }
  .circle-4 { width: 45%; height: 45%; }
}

@media screen and (max-width: 1024px) {
  .orbit-item { width: 22%; height: 22%; }
}

@media screen and (max-width: 768px) {
  .orbit-item { width: 25%; height: 25%; }
}

.orbit-item img {
  max-height: 50%; /* scale with orbit-item */
  max-width: 50%;
}

.orbit-item-mobile img{
    height: 90px;
  width: 90px;
}
.orbit-item-mobile{
  background-color: var(--green-dark);
  box-shadow: inset 5px 5px 10px 1 #0B1710,
   inset -5px -5px 10px 1 #162F22;
   border-radius: 16px;
}

.mobile-orbit-wrapper {
  width: 100%;
  overflow: hidden;
}

.mobile-orbit-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 18s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Hide entire orbit circle on screens smaller than 1024px */
@media screen and (max-width: 1024px) {
  .circle-wrapper {
    display: none !important;
  }
}


/* 
@keyframes orbitMove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* testimonial-section */

.testimonial-section{
  background-color: var(--third-color);
}

.testimonial-section .grey{
  color: var(--light-text4);
}
.testimonial-section > .B-1{
color: var(--paragraph-color);
}
.testimonial-section .card{
  background-color: var(--light-text5);
  border-radius: 16px;
  box-shadow: 
  0px 4px 8px 3px rgba(0, 0, 0, 0.15),
  0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  height: 570px;
}

.testimonial-section .card2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35%; /* half card */
  background: #00000071;
  z-index: 1;
}


.testimonial-section .card2 > div {
  z-index: 2;
  color: white;
}
.swiper-pagination-bullet{
 background-color: white !important;
 font-size: 30px;
  height: 30px !important ;
 width: 30px !important;
  box-shadow: 
  0px 4px 8px 3px rgba(0, 0, 0, 0.15) ,
  0px 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
}

.swiper-pagination-bullet-active{
  background-color: grey !important;
 height: 30px  !important;
 width: 30px !important;
}

@media (max-width: 768px) {
   .testimonial-section .card{
  height: 400px;

   }
  .swiper-pagination-bullet{
  height: 20px !important ;
 width: 20px !important;
}

.swiper-pagination-bullet-active{
 height: 20px  !important;
 width: 20px !important;
}
}

@media (max-width: 578px) {
   .testimonial-section .card{
  background-color: var(--light-text5);
  border-radius: 16px;
  box-shadow: 
  0px 4px 8px 3px rgba(0, 0, 0, 0.15),
  0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  height: 320px;
}
 .swiper-pagination-bullet{
  height: 10px !important ;
 width: 10px !important;
}

.swiper-pagination-bullet-active{
 height: 10px  !important;
 width: 10px !important;
}
}
/* faq section */

.faq-section .faq{
 background-color: var(--third-color);
}
.faq-section .icon{
  background-color: var(--primary-color);
  border-radius: 50%;
  /* height: 48px;
  width: 48px; */
}

.faq-outer{
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (max-width:600px) {
  .faq-outer{
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
/* .faq-section .icon{
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 28px;
  width: 28px;

   display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
} */
}

/* .journey section */

.journey-section{
  background: url("/assets/journey_bg.gif");
}

.journey-inner{
  background-color: var(--green-dark);
  border-radius: 48px;
}
.journey-inner .green-para{
  color: var(--secondary-light);
}
.journey-inner .para , .footer .para {
  color: var(--third-color);
}

.journey-inner .icon{
  box-shadow: 
  inset 4px 4px 8px 0px #0B1716,
  inset -4px -4px 8px 0px #152D2C;
}

.journey-inner .btn-1{
  background-color: var(--secondary-light);
   box-shadow: 0px 0px 20px 0px #2BEE79 !important;
}
.journey-inner .btn-2{
  background-color: var(--secondary-color);
   box-shadow: 
    8px 8px 16px 0px #102217,
    -8px -8px 16px 0px #102217;
    border: 1px solid #27342c;

}

/* footer section */

.footer{
  background-color: var(--secondary-color);
}
.footer .red{
  color: var(--primary-color)
}
.footer-main{
  background-color: var(--green-light);
  box-shadow:
   -6px -6px 12px 0 #0B1710,
  6px 6px 12px 0 #162F22;
  border-radius: 16px;
}
.footer .btn{
  background-color: var(--primary-color);
  color: white;
  min-width: 370px;
  justify-self: end;
}
.footer .input{
  width: 370px;
  justify-self: end;
}

.footer .heading-7{
  border-bottom: 1px solid #264f3663;
  
}
.footer .icon {
  border:  1px solid rgb(255 , 201 , 171);
  height: 41px;
  width: 41px;
}

@media (max-width:852px) {
  .footer .btn{
  min-width: 230px;
  justify-self: center;
}
.footer .input{
  width: 230px;
}
}

@media (max-width:552px) {
  .footer .btn{
  min-width: 240px;
  width: 100% !important;
  justify-self: center;
  align-items: center;
}
.footer .input{
  width: 100% !important;
  width: 240px;
}
.input-outer{
  width: -webkit-fill-available;
}

.footer-heading{
  font-size: 22px !important;
  line-height: 33px !important;
}
}

/* roadmap section */
/* ROADMAP WRAPPER */

.agile-section{
  background-color: var(--third-light);
}
.roadmap-section {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 2050px;
  margin: auto;
}

/* SVG ROAD */
.road-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* NODE CONTAINER (EXACT SVG POSITION) */
.milestone {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  display: flex;
  align-items: center;
}

/* DOT (REFERENCE POINT ON ROAD) */
.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  flex-shrink: 0;
}

.dot.orange {
  background: #ff6a00;
}

.dot.green {
  background: #00c48c;
}


.roadmap-node {
  width: 300px;
  z-index: 10;
}

.node-pill {
  position: relative;
  background-color: rgba(248, 250, 252, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.node-pill:hover {
  transform: translateY(-3px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.icon-circle {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ping-effect {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.bg-blue-gradient {
  background: linear-gradient(135deg, var(--color-blue-light), var(--color-blue-dark));
}

.bg-green-gradient {
  background: linear-gradient(135deg, var(--color-green-light), var(--color-green-dark));
}

.bg-yellow-gradient {
  background: linear-gradient(135deg, var(--color-yellow-light), var(--color-yellow-dark));
}

.bg-red-gradient {
  background: linear-gradient(135deg, var(--color-red-light), var(--color-red-dark));
}

.bg-purple-gradient {
  background: linear-gradient(135deg, var(--color-purple-light), var(--color-purple-dark));
}

.node-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  white-space: nowrap;
}
.roadmap-section-mobile{
  display: none;
}

@media (max-width:1200px) {
    .roadmap-section{
    display: none;
}
.roadmap-section-mobile{
  display: grid;
}
.agile-section{
  background-color: var(--third-color);
}
}
.mobile-pill{
  background-color: var(--third-color);
  box-shadow: -4px -4px 10px 0 #F8F8F866,
  6px 6px 12px 0 #BEBEBE44;
  border: 1px solid rgba(246, 246, 246, 0.711);
}

/* About page herosection */

.about-herosection {
  height: 58vh;
  width: 100%;
  background-color: white; /* page background */
  position: relative;
  overflow: hidden;
}

/* HALF CIRCLE */
.about-herosection-circle {
  position: absolute;
  bottom: 0;   /* circle ka aadha part niche chala jayega */
  left: 50%;
  transform: translateX(-50%);

  width: 200vw;
  height: 210vh;
  background-color: var(--third-color);
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.about-herosection-content {
  position: relative;
  z-index: 3 !important;
  text-align: center;
  padding: 0 16px;
  bottom: 5%;
}
.about-herosection-content .btn{
  border-radius: 10px;
  box-shadow:  0 4px 8px 3px #00000016,
  0 1px 3px 0 #0000003a
}

/* mission vision section */

.mission-vison , .growth-section{
  background-color: var(--third-color);
}

.mission-vison .btns{
  box-shadow:  -6px -6px 12px 0 rgb(255 , 255 ,255 , 80),
  6px 6px 12px 0 rgb(190 , 190 , 190, 40);
}

.mission-vison .btn-active{
  background-color: var(--primary-color);
  color: white;
}

.mission-vison .red{
  color: var(--primary-color);
}
.mission-vison .para{
  color: var(--paragraph-color);
}
.mission-image-left{
  box-shadow: inset 1px 1px 2px 0 rgb(255 , 255 ,255 , 30%),
  -6px -6px 12px 0 rgb(255 , 255 , 255 , 80),
  6px 6px 12px 0 rgb(181 , 181 , 181 , 40);
  border-radius: 16px;
}

.mission-image-left img {
  /* box-shadow: inset 5px 5px 10px 0 #0E111B,
  inset -5px -5px 10px 0 #1E253B; */
  display: block;
  width: 100%;
  border-radius: 12px;
}

.mission-image-left .image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: inline;
    align-self: start;
}

.mission-image-left .image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  pointer-events: none;
 box-shadow: inset 5px 5px 10px 0 #0E111B,
  inset -5px -5px 10px 0 #1E253B;
}

@media (max-width:600px) {
  .vision-btn{
    font-size: 18px !important;
    line-height: 28px !important;
  }
}
@media (max-width:400px) {
  .vision-btn{
    font-size: 14px !important;
    line-height: 16px !important;
  }
}
@media (max-width:600px) {
.growth-heading , .about-heading{
   font-size: 18px !important;
    line-height: 28px !important;
    text-align: center;
}
.about-hero-p {
  max-width: 300px !important;
  font-size: 14px !important;
  line-height: 21px !important;
}
.about-herosection-content .btn{
 font-size: 12px;
 line-height: 18px;
}
}

 /* grow and innovation section */

 .growth_btn{
   box-shadow: inset 5px 5px 10px 1px #ECE7DB,
       inset -5px -5px 10px 1px #FFFFFF;
 }
 .growth-btn2{
  background-color: var(--primary-color);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
 }

 .side-btn{
      height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .timeline-wrapper {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.red-circle{
  outline: 5px solid #ffffff7d;
}
.horizontal-line , .red-circle{
  background-color: var(--primary-color);
}
.timeline-card {
  box-shadow: -6px -6px 12px  0 rgba(248, 248, 248, 0.71),
  6px 6px 12px 0 rgba(190, 190, 190, 0.403);
  border-radius: 10px;
}
.red-top-arrow{
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.151),
  0 1px 3px 0 rgba(0, 0, 0, 0.286);
}
.timeline-title{
  color: var(--primary-color);
}
.timeline-card {
  min-height: 275px
}
@media (max-width:1300px) {
 .timeline-card {
  min-height: 360px
}
}
@media (max-width:1024px) {
 .timeline-card {
  min-height: 275px
}
}
@media (max-width:900px) {
 .timeline-card {
  min-height: 314px
}
}
@media (max-width:810px) {
 .timeline-card {
  min-height: 334px
}
}
@media (max-width:768px) {
 .timeline-card {
  min-height: 275px
}
}
@media (max-width:450px) {
 .timeline-card {
  min-height: 390px
}
.timeline-card .B-3{
   font-size: 13px;
   line-height: 18px;
}
.timeline-card .heading-7{
   font-size: 20px;
   line-height: 28px;
}
}
@media (max-width:578px) {
  .growth-btn2 .heading-5{
    font-size: 17px;
    line-height: 21px;
  }
  .growth-btn2 img{
    height: 18px;
    width: 18px;
  }
}

/* service page css */

.service-page .para{
   color: var(--paragraph-color);
}

.service_card_image{
   display: block;
  width: 100%;
  border-radius: 12px;
}
.service_image_wrapper{
    position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: inline;
    align-self: start;
}
.service_image_wrapper::after{
   content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  pointer-events: none;
 box-shadow: inset 5px 5px 10px 0 #0E111B,
  inset -5px -5px 10px 0 #1E253B;
}
.topCompanyCards{
  background-color: var(--primary-color);
  border-radius: 40px;
}
.service-page .red{
  color: var(--primary-color);
}
.web-dev-process{
  background-color: var(--secondary-dark);
}
.process-card {
flex: 1 1 0;
  height: 480px;
  cursor: pointer;
  border-radius: 24px;
  transition: flex 0.45s ease, transform 0.45s ease;
   box-shadow: 10px 10px 20px 0 #0B1710,
  -10px -10px 20px 0 #162F22;
  background: #112419;
background: linear-gradient(88deg, rgba(17, 36, 25, 1) 0%, rgba(21, 43, 30, 1) 100%);

  position: relative;
  overflow: hidden;
}
.process-card:hover{
  flex-grow: 2.2;
}

.process-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
}

.process-card:hover::after {
  opacity: 1;
}

.process-wrapper:hover .process-card:not(:hover) {
  flex-grow: 0.8;
}


.process-card:hover::before {
  opacity: 1;
}

.process-card * {
  position: relative;
  z-index: 2;
}

.process-card .index-no{
  color: rgba(31, 193, 107, 0.119);
}
.process-card .heading-6{
  color: var(--secondary-light);
}
.process-wrapper {
  display: flex;
  gap: 15px;
  transition: all 0.4s ease;
}
@media (max-width: 900px) {
  .process-wrapper {
    flex-direction: column;
  }

  /* Base mobile card height */
  .process-card {
    flex: none;
    height: 260px;
    transition: height 0.45s ease, transform 0.45s ease;
  }

  /* Hovered card height grow */
  .process-card:hover {
    height: 300px;
  }

  /* Other cards shrink slightly */
  .process-wrapper:hover .process-card:not(:hover) {
    height: 221px;
  }
}

@media (max-width:500px) {
   .process-card:hover {
    height: 200px;
  }

}
