@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lustria&family=Noto+Sans:wght@400;500;600&display=swap');

@import "tailwindcss";



:root {
  --primary-color: rgb(253, 52 ,2);
  --primary-light: #FFD4BD;
  --secondary-color: rgb(21, 43 , 30);
  --secondary-dark: rgb(21, 43 , 30);
  --secondary-light: rgb(43, 238 , 121);
  --secondary-light2: rgba(31, 193, 107, 0.100);
  --paragraph-color: rgb(96 , 96 ,96);
  --third-color: rgb(232 , 232 , 232);
  --third-light: rgb(248 , 252 , 250);
  --dark-text: rgb(51 , 51 , 51);
  --light-text: rgb(210 , 210 , 210);
  --light-text2: rgb(187 , 187 , 187);
  --light-text3: rgb(203 , 215 , 225);
  --light-text4: rgb(142, 142 , 142);

  --font-lustria: 'Lustria';
  --font-notosans: 'Noto Sans';
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: 'Inter';
  overflow-x: hidden;
  padding-right: 0 !important;
}

html {
  overflow-x: hidden;
}

.heading-8{
  font-size: 19px !important;
  line-height: 28px;
}
.heading-7{
  font-size: 22px;
  line-height: 33px;
}
.h-6{
  font-size: 25px;
}
.heading-5{
  font-size: 32px;
  line-height: 48px;
}
.heading-4{
  font-size: 38px;
}
.heading-3{
  font-size: 46px !important;
  line-height: 69px !important;
}
.heading-2{
  font-size: 56px;
  line-height: 78px;
}
.B-5{
  font-size: 10px;
}
.B-4{
  font-size: 12px;
}
.B-3{
  font-size: 14px;
  line-height: 20px;
}
.B-2{
  font-size: 16px;
}
.B-1{
  font-size: 18px;
  line-height: 27px;
}

.font-lustria{
  font-family: var(--font-lustria);
}
.font-inter{
  font-family: var(--font-inter);
}
.font-notosans{
  font-family: var(--font-notosans);
}

.primary-text{
  color:  var(--primary-color);
}

.button{
  background-color: var(--primary-color) !important;
  color: white !important;
  padding: 11px 22px !important;
  box-shadow: 0 0 12px 5px #FFD4BD !important;
  font-family: var(--font-notosans);
}

.home-page{
  background-color: var(--third-color);
  color: #0C1A12;
}

/* navbar css */
.nav-links{
  background-color: var(--third-color);
  border-radius: 35px;
  color: var(--paragraph-color);
  font-family: var(--font-lustria);
   box-shadow: 
 -6px -6px 12px 0px #ffffffc8,
6px 6px 12px 0px #bebebe80;
}

.who-we-btn{
  background-color: var(--third-light);
  box-shadow: 5px 5px 10px 1px #ECE7DB;
  
}
.company_submenu{
  background-color: var(--third-color);
  border-radius: 20px;
  box-shadow:
  0px 3px 3px rgba(0, 0, 0, 0.15),
  0px 1px 8px rgba(0, 0, 0, 0.12);
}

.company_submenu .link,  .company_submenu_mob .link {
  border-radius: 10px;
}

.company_submenu .link:hover , .company_submenu_mob .link:hover{
   box-shadow:
    -6px -6px 12px 0px rgba(255, 255, 255, 0.8),
     6px  6px 12px 0px rgba(190, 190, 190, 0.4);
}

.company_submenu p {
  color: var(--dark-text);
}

.company_submenu .h-6 , .company_submenu_mob .B-2{
  font-family: var(--font-lustria);
}

.company_submenu .B-3 , .company_submenu_mob .B-4{
  font-family: var(--font-inter);
}

@media (max-width:700px) {
  .button{
  padding: 6px 18px !important;
}
}

/* Future ready section{ */

.future-ready{
  background-color: var(--secondary-color);
}
.futute_ready_btn{
  color: var(--secondary-light);
  box-shadow: 
  5px 5px 10px 0 #0B1710,
  -5px -5px 10px 0 #152D1E;
  border: 1px solid #264f36;
}

.future-ready .heading-3{
font-family: var(--font-lustria);
}

.future-ready .green {
  background: linear-gradient(
    88deg,
    rgba(43, 238, 121, 1) 0%,
    rgba(45, 212, 191, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: rgba(43, 238, 121, 1);
}

.future-ready .B-1{
  font-family: var(--font-notosans);
  color: var(--light-text);
}
.service_card{
  box-shadow: 10px 10px 20px 0 #0B1710,
  -10px -10px 20px 0 #162F22;
  background: #112419;
background: linear-gradient(88deg, rgba(17, 36, 25, 1) 0%, rgba(21, 43, 30, 1) 100%);
}

.service-end-card{
  border: 3px solid var(--secondary-light);
   background: #112419;
background: linear-gradient(88deg, rgba(17, 36, 25, 1) 0%, rgba(21, 43, 30, 1) 100%);
}
.service_card .heading-7{
  font-family: var(--font-lustria);
}
.service_card .B-3{
 color: var(--light-text);
}
.service_card .B-1{
 font-family: var(--font-notosans);
}
.service_card .learn-more{
  color: var(--light-text2);
}
.service_card .learn-more .arrow{
  box-shadow: 
  5px 5px 10px 0 #0C1A12,
  -5px -5px 10px 0 #183224;
  ;
  background: #152B1E;
background: linear-gradient(88deg, rgba(21, 43, 30, 1) 0%, rgba(17, 36, 25, 1) 100%);
}
.card_no{
  color: var(--secondary-light2);
  font-family: var(--font-lustria);
}
.card_icon{
  background: RGB(16 , 34, 23);
background: linear-gradient(88deg, rgba(16, 34, 23, 1) 0%, rgba(21, 43, 30, 1) 100%);
border-radius: 16px;
box-shadow: 
inset 5px 5px 10px 1px #0B1710,
inset -5px -5px 10px 1px #162F22;
}

.service-end-card .heading-7{
  font-style: var(--font-lustria);
}

.service-end-card button{
  background-color: var(--secondary-light);
  box-shadow: 0 0 15px 0 #2bee7930;
  font-family: var(--font-notosans);
}
.service-end-card img{
  background-color: rgb(31, 63, 45);
}

/* number_section */
.number_section .heading-3{
  font-family: var(--font-lustria);
} 

/* industries section */

.industries-section{
  background-color: var(--third-color);
}
.industry_btn{
 color: var(--light-text3) ;
 background: #0E111B;
background: linear-gradient(128deg, rgba(14, 17, 27, 1) 0%, rgba(30, 37, 59, 1) 100%);
}
.industries-section .heading-3{
   color: var(--dark-text);
   font-family: var(--font-lustria);
}
.industries-section .red {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.industries-section .B-1{
color: var(--paragraph-color);
}

.industry-card{
  box-shadow: 
  inset 1px 1px 2px 0 #FFFFFF,
     -6px -6px 12px 0 #FFFFFF,
     6px 6px 12px 0 #B5B5B5;
    border-radius: 16px;
}

.industry-card  > .B-3{
  color: var(--paragraph-color);
  width: fit-content;
  border-bottom: 1px solid white;
 
}
.industry-card .read-more{
  color: var(--primary-color);
}
.start-project-section{
  background-color: var(--third-color);
  box-shadow: 
  0 -6px 12px 0 rgba(181, 181, 181, 0.4),
  0 6px 12px 0 rgba(181, 181, 181, 0.4);
  border-radius: 16px;
  width: fit-content;
}

.start-project-section button{
  box-shadow: 
  0 0 20px 0 rgba(48, 94, 232, 0.4) !important;
}

.start-project-section .B-3 {
  color: var(--paragraph-color);
}

/* herosection */

.herosection{
  background-color: var(--light-text2);
  border-radius: 40px;
   box-shadow: 
 -6px -6px 12px 0px #ffffff8b,
6px 6px 12px 0px #bebebe41;

}
.herosection-inner{
  border-radius: 40px;
  height: 88vh;
}
.hero-slide-1{
   background-image: url("/assets/herosection1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-slide-2{
   background-image: url("/assets/herosection2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-teams{
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}
.hero-teams-2{
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.hero-teams-outer{
  align-items: end;
}
.hero-teams > p , .hero-teams-2 > p {
  color: var(--paragraph-color);
}

/* Pagination container */
.swiper-pagination {
  bottom: 10px !important;
}

/* Normal dot */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #bdbdbd; /* grey */
  opacity: 1;
  margin: 0 6px !important;
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #e10600; /* red */
  width: 12px;
  height: 12px;
}

.herosection-bottom{
  background-color: var(--secondary-color);
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  margin-right: 60px;
}

/* Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* who-we-are */

/* .who-we-are{
  
  background: url("/assets/2nd_section.svg");
}

.who-we-are {
  position: relative;
  background-attachment: fixed; 
  overflow: hidden;
} */


.who-we-are .main{
  background-color: var(--third-light);
  color: #0C1A12;
}

.who-we-are button{
  box-shadow: inset 5px 5px 10px 1 #ECE7DB,
  inset -5px -5px 10px 1 #FFFFFF;
}

.who-we-are .btn{
  background-color: white;
  box-shadow:  5px 5px 10px 0 #DBECE2,
   -5px -5px 10px 1 #FFFFFF;
}

.parallax-container {
  position: relative;
  background: #f5f6fa;
}

.parallax-pin-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-section {
  width: 50%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background: #f5f6fa;
  transform: translateX(100%);
  opacity: 0;
}

.content-wrapper {
  /* max-width: 520px; */
  width: auto;
}

/* .scroll-filler {
  height: 300vh;
} */

/* Mobile */
@media (max-width: 992px) {
  .parallax-pin-wrapper {
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .image-wrapper {
    height: 45vh;
    width: 100%;
  }

  .content-section {
    width: 100%;
    height: auto;
    transform: none;
    opacity: 1;
  }

  /* .scroll-filler {
    height: 100vh;
  } */
}
